/* Write your code here. */

.win-or-lose-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
  border: 3px solid #ffffff33;
  background-color: #ffffff33;
  margin: auto;
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .win-or-lose-card {
    width: 85%;

    padding: 32px;
  }
}

@media screen and (min-width: 992px) {
  .win-or-lose-card {
    width: 70%;
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .win-or-lose-card {
    width: 60%;
  }
}

.details-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 1;
}

@media screen and (min-width: 1200px) {
  .details-section {
    order: 0;
  }
}

.game-status {
  font-size: 34px;
  color: #fff;
  font-weight: bold;
  font-family: 'roboto';
}

@media screen and (min-width: 1200px) {
  .game-status {
    font-size: 64px;
  }
}

.current-score-label {
  text-align: center;
  color: #fff;
  font-family: 'roboto';
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
}

@media screen and (min-width: 1200px) {
  .current-score-label {
    font-size: 38px;
  }
}

.current-score-value {
  text-align: center;
  color: #6a59ff;
  font-family: 'roboto';
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .current-score-value {
    font-size: 52px;
  }
}

.play-again-button {
  background-color: #ffce27;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  margin: 16px;
  padding: 16px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: bold;
  font-family: 'roboto';
}

.image-section {
  display: flex;
  justify-content: center;
  order: 0;
}

@media screen and (min-width: 1200px) {
  .image-section {
    order: 1;
  }
}

.win-or-lose-image {
  width: 150px;
  height: 200px;
}

@media screen and (min-width: 1200px) {
  .win-or-lose-image {
    width: 300px;
    height: 400px;
  }
}
